body{
    background-color:white;
}
main {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.left-container{
    width: 45%;
    position: -webkit-sticky;

}
.stick-left{
    position: sticky;
    top:200px;
    margin-bottom: 500px;
}

.stick-left h1 {
    color: #6753FF;
    font-size: 50px;
    letter-spacing: .04em;
    margin-left: 25px;
    margin-bottom: 20px;
    position: relative;
}

.stick-left p {
    font-family: Montserrat;
    font-size: 18px;
    color: #35465E;
    letter-spacing: .04em;
    margin-left: 72px;
    width: 500px;
    font-weight: 300;
    line-height: 24px;
    z-index: 1;
    position: relative;
}

.right-container{
    display: flex;
    margin-top: 40px;
    
}
.services-block{
    width:100%;
    height: 290px;
    width: 250px;
    background: #6ADF91;
    padding: 36px 24px 36px;
    margin-bottom: 33px;
    transition: .3s;
    position: relative;
}
.services-block h1{
    font-size: 19px;
line-height: 23px;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.services-block h3{
    font-size: 19px;
line-height: 23px;
letter-spacing: 0.03em;
color: white;
font-family: Prosto One;

}
.services-block p{
    font-weight: normal;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.04em;
padding:16px 0 49px;
color: #FFFFFF;
font-family: Montserrat;
}

.services-block span{
font-size: 24px;
letter-spacing: 0.04em;
font-weight: 400;
color: #FFFFFF;
font-family: Montserrat;
}

.services-block h4{
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    position: absolute;
    bottom: 25px;
    color: #FFFFFF;
}
.left-services{
    margin-right: 33px;
}
.right-services{
    margin-top: 90px;
}

.white-block {
    background: #EBF1FF;
    color: #121C42;
}

.white-block p, .white-block h3, .white-block h4, .white-block span, .white-block h1{
    color: #121C42;
}

.blue-block {
    background: #4BB1E9;
    color: #062355;
}

.blue-block p, .blue-block h3, .blue-block h4, .blue-block span, .blue-block h1{
    color: #062355;
}

.dark-block {
    background: #062355;
    color: #6ADF91;
}

.dark-block p, .dark-block h3, .dark-block h4, .dark-block span, .dark-block h1{
    color: #6ADF91;
}

.dark-green-block {
    background: #52C9B7;
    color: #FFF;
}

.dark-green-block p, .dark-green-block h3, .dark-green-block h4, .dark-green-block span, .dark-green-block h1{
    color: #FFF;
}

#scrollDownText {
    position: fixed;
    width: 500px;
    top: calc(100% - 500px);
    right: -200px;
    color: #D9D9DF;
    font-size: 14px;
    letter-spacing: .04em;
    transform: rotateZ(-90deg);
}

.services-block:hover {
    transition: .3s;
    transform: scale(1.025);
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    cursor: pointer;
}

#backPlanks {
    /* background-color: red; */
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: -250px;
    left: -90px;
    z-index: 0;
}
.contacts{
    margin-top: -250px;
}

@media screen and (max-width: 768px)
{
    main{
        display: block;
    }
    .right-container{
        display: block;
    }
    .right-services{
        margin-top: 33px;
    }
    .left-container{
        width: 100%;
        margin-top: 40px;
    }
    #backPlanks{
        display: none;
    }
    #scrollDownText{
        display: none;
    }
    .stick-left p{
        width: 100%;
        margin-left: 0px;
    }
    .stick-left{
        margin-bottom: 0px;
    }
    .left-services{
        margin-right: 0px;
    }
    .services-block{
        width: 100%;
        height: auto;
    }
    .stick-left h1{
        margin-left: 0px;
    }
    .contacts{
        margin-top: -500px;
    }
}