nav {
	padding-top: 26px;
	width: 100%;
	background-color: white;
}

.nav__content {
	margin: 0 83px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	padding: 20px 16px;
	background-color: #6753FF; 

	font-family: MonumentExtended;
	font-weight: 400;
}

.nav__logo > a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.04em;
}

.nav__links {
	display: flex;
}

.nav__link:not(:last-child) {
	margin-right: 52px;
}

.nav__link > a {
	text-decoration: none;
	color: #6753FF;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.04em;
}

.nav__menu {
	visibility: hidden;

	width: 20px;
	height: 12px;

	display: flex;
	flex-direction: column;
	justify-content: space-between; 
	align-items: flex-end;

	background-color: transparent;
	padding: 0;
	border: 0;
}

.nav__menu > div {
	height: 3px;
	width: 100%;
	border-radius: 5px;
	background-color: #6753FF;
}

.nav__menu > div:last-child {
	width: 50%;
}

@media screen and (max-width: 768px)
{
	nav {
		padding-top: 24px;
	}

	.nav__content {
		margin: 0 16px;
	}

	.nav__logo {
		padding: 0;
		background-color: transparent;
	}

	.nav__logo > a {
		letter-spacing: 0.02em;
		font-size: 16px;
		color: #6753FF;
	}

	.nav__menu {
		visibility: visible;
	}

	.nav__links {
		display: none;
	}
}

/*
	:Header
*/

.header {
	background-color: white;
	overflow: hidden;
}

.header__content {
	position: relative;
	margin-top: 40px;
	padding: 80px;

	text-transform: uppercase;
}

.header__content::before, .header__content::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
	border: solid 2px #F0F0F6;
}

.header__content::after {
	transform: rotate(4deg);
}

.header__title {
	font-size: 86px;
}

.header__title > span:first-child {
	font-family: MonumentExtended;
	font-weight: 400;
	letter-spacing: 0.04em;
	color: #6753FF;
}

.header__title > span:last-child {
	position: relative;
	top: -20px;

	letter-spacing: 0.02em;
	color: white;
	-webkit-text-stroke: 1.5px #6753FF;
}

.header__button {
	position: relative;
	margin-top: 72px;

	padding: 20px 40px;
	background-color: #6753FF;
	border: none;

	text-transform: uppercase;
	color: white;
	font-size: 14px;
	letter-spacing: 0.04em;
}

.header__button::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;

	width: 100%;
	height: 100%;

	background-color: transparent;
	border: solid 2px #6753FF;
}

.header__footer {
	position: relative;

	text-align: right;
	padding-top: 24px;
	padding-bottom: 24px;
}

.header__prices-link {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #FFCB3D;
}

@media screen and (max-width: 768px)
{
	.header {
	}	

	.header__content {
		margin-top: 80px;

		padding: 100px 12px; 
	}

	.header__title {
		font-size: 48px;
	}

	.header__title > span:last-child {
		font-size: 44px;
		top: -16px;
	}

	.header__button {
		margin-top: 64px;
		padding: 16px 24px;

		font-size: 12px;
	}
}

/*
	:services
*/

.services {
	position: relative;
	margin-top: 20px;

	width: 100%;
	background-color: #F4F4FA;
}

.services__items {
	display: flex;
	justify-content: space-around;
	padding: 40px 0;

	transition: transform 5s linear;
}

.services__item {
	padding: 0 12px; 
	text-transform: uppercase;
	
	font-size: 18px;
	letter-spacing: 0.08em;
	color: transparent;
	-webkit-text-stroke: 0.5px #6753FF;
}

@media screen and (max-width: 768px)
{
	.services {
		overflow: scroll;
	}	

	.services__content {
		width: fit-content;
	}

	.services__items { 
		padding: 16px 0;
	}

	.services__item:first-child {
		padding-left: 0;
	}

	.services__item:last-child {
		padding-right: 16px;
	}
}

/*
	:project
*/

.project {
	margin-top: 56px;

	background-color: white;
	padding: 48px;
}

.project__content {
	display: grid;
	grid-template-columns: 50% 50%;
} 

.project__left {
	display: flex;
	flex-direction: column;

	padding-right: 48px;
}

.project__right {
	display: flex;
	flex-direction: column;

	padding-left: 48px;
}

.project__tag {
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	letter-spacing: 0.04em;
	color: rgba(53, 70, 94, 0.8);
}

.project__tag:not(:last-child) {
	margin-right: 8px;
}

.project__tag:not(:last-child)::after {
	position: relative;
	top: -2.5px;

	margin-left: 12px;

	content: '';
	display: inline-block;

	width: 4px;
	height: 4px;
	background: rgba(53, 70, 94, 0.8);
}

.project__name {
	margin-top: 12px;
	text-transform: none;
}

#eva .project__name {
	color: #FFCB3D;
}

.project__link {
	margin-top: 16px;
	display: inline-block;

	text-decoration: none;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: #35465E;
}

.project__link > span {
	text-decoration: underline;
}

.project__desc {
	margin-top: 40px;

	font-family: Montserrat, sans-serif;
	font-weight: 300;	
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.04em;
	color: #35465E;
}

.project__gallery {
	margin-top: auto;

	padding-top: 72px;
	overflow: hidden;
}

.project__buttons {
	display: flex;
	justify-content: flex-end;
}

.project__button {
	display: block;
	width: 50px;
	height: 50px;

	background-color: transparent;
	border: 1px solid rgba(103, 83, 255, 0.7);
}

#eva .project__button {
	border: 1px solid #FFCB3D;
}

.project__button i {
	color: #6753FF;
	font-size: 24px;
}

#eva .project__button i {
	color: #FFCB3D;
}

.project__button--next {
	margin-left: 6px;
}
	
.project__images-previews {
	margin-top: 12px;
	width: 100%;
}

.project__slide {
	position: relative;
}

.project__slide--active {
	border: solid 2px #6753FF;
}

#eva .project__slide--active {
	border: solid 2px #FFCB3D;
}

.project__images-preview {
	position: absolute;

	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project__images-previews .project__slide::after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.project__images {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.project__image {
	vertical-align: bottom;

	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 768px)
{
	.project {
		margin-top: 24px;
		padding: 28px 20px;
	}

	.project__content {
		grid-template-columns: 100%;
		grid-template-rows: 1fr;
	} 

	.project__left {
		padding-right: 0;
	}

	.project__right {
		padding-left: 0;
	}

	.project__tag {
		font-size: 10px;
		line-height: unset;
	}

	.project__name {
		font-size: 20px;
		line-height: unset;
	}

	.project__link {
		margin-top: 6px;

		font-size: 14px;
		line-height: unset;
	}

	.project__desc {
		margin-top: 24px;

		font-size: 12px;
		line-height: unset;
	}

	.project__gallery {
		padding-top: 24px;

		display: flex;
		flex-direction: column-reverse;
	}

	.project__images-previews {
		margin-top: 0;
	}

	.project__images {
		display: none;
	}

	.project__buttons {
		margin-top: 12px;
	}

	.project__button, #eva .project__button {
		width: 32px;
		height: 32px;

		border: none;
	}

	.project__slide--active, #eva .project__slide--active {
		border: none;
	}
}

/*
	:work
*/

.work {
	margin: 80px 32px;
}

.work__title {
	text-align: right;
}

.work__timeline {
	margin-top: 80px;
}

.work__timeline-row {
	display: flex;
	justify-content: space-between;

	padding: 0 72px;
	border-top: solid 1px #6753FF;
}

.work__timeline-row:nth-child(odd):not(:last-child)	 {
	border-right: solid 1px #6753FF;
	border-bottom: solid 1px #6753FF;
}

.work__timeline-line {
	height: 124px;
	border-left: solid 1px #6753FF;
}

.work__timeline-col {
	position: relative;
	top: -2px;

	display: flex;
	padding: 48px 0;

	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #6753FF;
}

.work__timeline-row:first-child {
	padding-left: 0;
}

.work__timeline-row:last-child {
	padding-right: 0;
}

.work__timeline-row:last-child .work__timeline-col:last-child {
	background-color: #F9F9FE;
}

.work__timeline-row:last-child .work__timeline-col:last-child .work__timeline-title {
	padding-right: 72px;
}

.work__timeline-row:first-child .work__timeline-col:first-child .work__timeline-number {
	padding-left: calc(72px + 0);
}

.work__timeline-number {
	position: relative;
	top: -82px;

	padding: 0 32px;
	background-color: #F9F9FE;

	-webkit-text-stroke: 1px #6753FF;
	text-shadow: 4px 4px 0px #6753FF;
	font-size: 64px;
	line-height: 64px;
	letter-spacing: 0.04em;
	color: white;
}

@media screen and (max-width: 768px)
{
	.work {
		margin-top: 32px;
	}

	.work__title {
		text-align: center;
	}

	.work__timeline {
		margin-top: 32px;
	}

	.work__timeline-line {
		display: none;
	}

	.work__timeline-row {
		flex-direction: column;
		
		border: none;
		padding: 0;
	}

	.work__timeline-col::before {
		content: '';
		position: absolute;
		width: 2px;
		height: 40px;
		left: 50%;
		top: 50%;
		background-color: #6b6afc;
	}

	.work__timeline-col::after {
		margin: 16px auto;
		flex: 0 0 100%;

		content: '';
		display: block;
		
		width: 2px;
		height: 40px;
	}

	.work__timeline-row:nth-child(odd):not(:last-child)	 {
		border: none;
	}

	.work__timeline-row:last-child .work__timeline-col:last-child .work__timeline-title {
		padding: 0;
	}

	.work__timeline-col {
		padding: 0;		
		align-items: center;
		flex-wrap: wrap;

		font-size: 18px;
		line-height: 24px;
	}

	.work__timeline-number {
		top: 0;

		width: 80px;
		padding: 0;

		-webkit-text-stroke: 0.5px #6753FF;
		text-shadow: 2px 2px 0px #6753FF;

		font-size: 40px;
		line-height: 40px;
	}
}

/*
	:about
*/

.about {
	margin-top: 80px;

	padding: 64px;
	background-color: white;
}

.about__info {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
}

.about__title h2 {
	padding: 0 100px;

	-webkit-text-stroke: 1px #6753FF;
	color: transparent;
}

.about__text {
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.04em;
	color: #35465E;
}

.about__logos {
	margin-top: 80px;

	margin-right: -16px;
	margin-bottom: -16px;

	display: flex;
	flex-wrap: wrap;
}

.about__logo {
	margin-bottom: 16px;
	margin-right: 16px;

	width: 160px;
	padding: 24px;
	border: 1px solid #6753FF;

	text-align: center;
}

.about__logo i {
	font-size: 64px;
	color: #9898FF
}

@media screen and (max-width: 768px)
{
	.about {
		margin-top: 40px;	

		padding: 40px 24px;
		border: 2px solid #6753FF;
	}

	.about__info {
		grid-template-columns: 1fr;
	}

	.about__title h2 {
		padding: 0;

		text-align: center;
		-webkit-text-stroke: 0.5px #6753FF;
	}

	.about__text {
		margin-top: 32px;

		font-size: 12px;
		line-height: 15px;
	}

	.about__logos	 {
		margin-top: 40px;
	}

	.about__logo {
		width: calc(50% - 16px);
	}

	.about__logo i {
		font-size: 56px;
	}
} 

/*
	:contacts
*/

.contacts {
	margin-top: 20px;
	background-color: white;
}

.contacts h2 {
	text-align: center;
}

.contacts h3 {
	-webkit-text-stroke: 1px #6753FF;
	color: transparent;
}

.contacts__content {
	padding-top: 24px;	
	padding-bottom: 100px;
}

.contacts__containers {
	margin-top: 48px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contacts__link {
	margin-top: 32px;

	display: inline-block;
	font-size: 36px;
	color: #6753FF;
}

.contacts__link--email {
	letter-spacing: 0.06em;
}

.contacts__link--phone {
	letter-spacing: 0.1em;
}

.contacts__social-links {
	margin-top: 12px;
	display: flex;
}	

.contacts__social-link {
	font-size: 20px;
	letter-spacing: 0.1em;
	color: #6753FF;
}

.contacts__social-link > a {
	text-decoration: none;
}

.contacts__social-link:not(:last-child) {
	margin-right: 52px;	
}

.contacts__info {
	margin-top: 40px;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #9898FF;
}

.contacts__form {
	margin-top: 32px;
}

.contacts__input {
	display: block;
    width: 380px;
    padding: 14px 24px;
    border: 1px solid #9898FF;
    background-color: #FAFAFA;

    transition: all 100ms linear; 
}

.contacts__input--error {
	border: solid 1px #F27278;
	color: #F27278;
}

.contacts__input--success {
	border: solid 1px #00CCBE;
	color: #00CCBE;
}

.contacts__input:focus {
	border: 1px solid #6753FF;
	color: #6753FF;
}

.contacts__input:not(:first-child) {
	margin-top: 12px;
}

.contacts__button {
	margin-top: 24px;

	padding: 20px 40px;
	background-color: #6753FF;
	border: none;
	box-shadow: 6px 6px 1px #35465E;

	text-transform: uppercase;
	color: white;
	font-size: 14px;
	letter-spacing: 0.04em;
}

.dropdown__switch:checked + .dropdown__options-filter .dropdown__select {
	transform: scaleY(1);
}

.dropdown__switch:checked + .dropdown__options-filter .dropdown__filter i {
	transform: rotate(-180deg);
}

.dropdown__options-filter {
	width: 100%;
	cursor: pointer;
}

.dropdown {
	width: 380px;
}

.dropdown__filter {
	position: relative;
    margin-top: 12px;
	display: flex;

	padding: 14px 24px;
	background-color: #FAFAFA;
	border: 1px solid #9898FF;

	transition: .3s;

	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	letter-spacing: 0.04em;
	color: #9898FF;
}

.dropdown__filter--success {
	border: solid 1px #00CCBE;
	color: #00CCBE;
}

.dropdown__filter:focus {
	border: 1px solid #918FF4;
	outline: none;
}

.dropdown__filter--success:focus {
	border: solid 1px #00CCBE;
}


.dropdown__filter i {
	position: absolute;
	right: 20px;

	content: '';
	font-size: 24px;
	transition: .2s ease-in-out;
}

.dropdown__select {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: 5px;
	overflow: hidden;
	transform: scaleY(0);
	transform-origin: top;
	font-weight: 300;
	transition: .2s ease-in-out;
}

.dropdown__select-option {
	padding: 14px 24px;
    color: white;
    background-color: #9898FF;
    border-bottom: 1px solid #F9F9FE;
    transition: .3s;
}

.dropdown__select-option:last-of-type {
	border-bottom: 0;
}

@media screen and (max-width: 768px)
{
	.contacts__content h2 {
		text-align: left;
	}	

	.contacts h3 {
		-webkit-text-stroke: 0.5px #6753FF;
	}

	.contacts__containers {
		margin-top: 24px;
		grid-template-columns: 1fr;
	}

	.contacts__link {
		margin-top: 16px;
		font-size: 18px;
	}

	.contacts__social-link {
		font-size: 9px;
	}

	.contacts__social-link:not(:last-child) {
		margin-right: 32px;
	}

	.contacts__info {
		display: none;
	}

	.contacts__right {
		margin-top: 40px;
	}

	.contacts__form {
		margin-top: 16px;
	}

	.contacts__input {
		width: 100%;
	}

	.dropdown {
		width: 100%;
	}

	.dropdown__filter {
		font-size: 14px;
	}

	.contacts__button {
		margin-top: 32px;
		padding: 16px 24px;

		font-size: 12px;
	}
}