.footer{
    background-color: #91932E;
}
.footer__menu {
    display: flex;
    padding: 24px 0;
}
.footer__item {
    margin-right: 90px;
}
.footer__link {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    font-family: 'Oswald', sans-serif; 
}

@media (max-width:700px){
    .footer__item{
		margin-right: 60px;
	}
	.footer__link{
		font-size: 16px;
		line-height: 24px;
	}
	.footer__menu{
		flex-wrap: wrap;
	}
}