.footer{
    padding: 80px 0;
}
.footer__inner{
}
.footer__top{
    display: flex;
    justify-content: space-between;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
}
.footer__logo{
    margin-bottom: 51px;
}
.footer__left{
    display: flex;
    flex-direction: column;
}
.footer__menu {
    display: flex;
    margin-bottom: 45px;
}
.footer__copy{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #DDDDDD;
    margin-top: auto;
}
.footer__item {
    margin-right: 90px;
}
.footer__link {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    font-family: 'Oswald', sans-serif; 
}

.footer__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__discuss {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #999999;
    font-weight: 700;
    margin-bottom: 21px;
}
.footer__phone {
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 14px;
}
.footer__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
}
.footer__politics {
    font-size: 18px;
    line-height: 22px;
    opacity: .7;
    margin-top: auto;
    white-space: nowrap;
}





@media screen and (max-width: 1300px){
    .footer__logo{
        margin-bottom: 9px;
    }
    .footer__logo{
        width: 108px;
    }
    .footer__link{
        font-size: 16px;
        line-height: 20px;
    }
    .footer__copy{
        font-size: 12px;
        line-height: 14px;
    }
    .footer__discuss{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
    }
    .footer__phone, .footer__mail{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .footer__menu{
        margin-bottom: 40px;
    }
    .footer__politics{
        font-size: 12px;
        line-height: 14px;
    }
    .footer .nav__logo{
        padding-top: 0;
        margin-top: -15px;
    }
}

@media screen and (max-width:1000px){
    .footer .nav__logo img{
        width: 108px;
        height: auto;
    } 
    .footer__logo{
        margin-bottom: 17px;
    }
    .footer__item {
        margin-right: 64px;
    }


    .footer .nav__logo{
        margin-top: 0;
    }

    .footer{
        padding-top: 0;
    }
}


@media screen and (max-width:700px){
    .footer__item{
		margin-right: 60px;
	}
	.footer__link{
		font-size: 16px;
		line-height: 24px;
	}
	.footer__menu{
		flex-wrap: wrap;
	}
}

@media screen and (max-width:650px){
    .footer__top{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .footer__right{
        align-items: flex-start;
    }
    .footer__bottom{
        flex-direction: column;
    }
    .footer__copy{
        margin-bottom: 12px;
    }
}