
.about__inner{
    padding-top: 124px;
}

.about__top-wrapper{
    display: flex;
    margin-top: 168px;
    margin-bottom: 160px;
}
.about__slider-wrapper {
    position: relative;
    min-width: 0;

}
.about__slider {
    max-width: 1000px;
    width: 100%;
    
}
.slick-initialized .slick-slide{
    display: flex;
    align-items: flex-end;
}

.about__slider-img {
    max-width: 1000px;
    min-height: 400px;
}
.about__slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__text-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about__text-wrapper{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.about__text {
    margin-bottom: 24px;
    max-width: 500px;
    width: 100%;
    opacity: .9;
}

.about__slider-buttons{
    position: absolute;
    bottom: -50px;
    right: 0;
}   
.about__arrow{
    cursor:pointer;
    background-color: transparent;
    outline:none;
    border:none;
    z-index: 5;
}
.about__arrow-left{
    transform: translateX(-20px);
}


.about__textstat {
    display: flex;
    margin-left: 100px;
    margin-top: auto;
}
.about__textstat-item {
    margin-right: 70px;
}
.about__textstat-item:last-child{
    margin-right: 0;
}
.about__textstat-num {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.03em;
    color: #FFFF33;
    margin-bottom: 8px;
}
.about__textstat-descr {
    max-width: 190px;
    width: 100%;
    opacity: .9;
}

/* ABOUTUS */
.aboutus{
    margin-bottom: 100px;
}
.aboutus__inner {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transform: translateX(30px);
}
.about__title {
    font-size: 56px;
    line-height: 68px;
    font-family: 'Oswald', sans-serif;

}
.aboutus__right {
    max-width: 551px;
    width: 100%;
}
.aboutus__item {
    margin-bottom: 70px;
}
.aboutus__item:last-child{
    margin-bottom: 0;
}
.aboutus__item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFF33;
    margin-bottom: 20px;
}

/* ABOUT__AUTOSLIDER */
.about__autoslider{
    margin-bottom: 120px;
}
.main__slider {
    margin-top: 78px;
    overflow-x: hidden;
    margin-bottom: 60px;
}
.main__slider-item{
    max-width: 776px;
    width: 100%;
    height: 100%;
    margin: 0 20px; 
}
.main__slider-img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* WHATCANWEDO */
.whatcanwedo{
    margin-bottom: 120px;
}
.whatcanwedo__inner {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.whatcanwedo__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    max-width: 405px;
    width: 100%;
    color: #FFFF33;
}
.whatcanwedo__right {
    max-width: 410px;
    width: 100%;
}
.whatcanwedo__item {
    display: flex;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    opacity: .8;
    margin-bottom: 70px;
}
.whatcanwedo__item:last-child{
    margin-bottom: 0;
}
.whatcanwedo__num {
    white-space: nowrap;
    margin-right: 10px;

}
/* ABOUTPROJECT */

.aboutproject .about__title {
    margin-left: 150px; 
    max-width: 544px;
    width: 100%;
}
.aboutproject__box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 130px;
}
.aboutproject__item {
    margin-right: 204px;
    margin-bottom: 124px;
    white-space: nowrap;
    position: relative;
    padding-left: 30px;
    color: #fff;
    opacity: .7;
    max-width: 240px;
    width: 100%;
}

.aboutproject__item::before{
    content:'';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    opacity: .7;
    top: -20px;
    left: 0;


}
/* ABOUTBANNER */
.aboutbanner__inner{
    margin-bottom: 150px;
}
.aboutbanner__img{
    max-width: 1920px;
    width: 100%;
}
.aboutbanner__img img{
    width: 100%;
}
.aboutbanner__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #6E7191;
    margin-left: 115px;
}



@media screen and (max-width: 1700px){
    .about__text-wrapper{
        margin-left: 50px;
    }
    .about__textstat{
        margin-left: 50px;
    }
    .about__textstat-item{
        margin-right: 55px;
    }
}

@media screen and (max-width: 1550px){
    .about__slider {
        max-width: 750px;
        min-height: 500px;
    }
    .about__slider-img img{
        max-width: 750px;
        min-height: 500px;
        object-fit: cover;
    }

}

@media screen and (max-width: 1400px){
    .about__title{
        font-size: 42px;
        line-height: 55px;
    }
    .aboutus__inner{
        transform: translateX(0);
    }
    .aboutus__item-name{
        font-size: 18px;
        line-height: 22px;
    }
}
@media screen and (max-width: 1368px){
    .title__name{
        font-size: 54px;
        line-height: 64px;
    }
    .general__category{
        font-size: 18px;
        line-height: 22px;
    }
    .aboutbanner__text{
        font-size: 18px;
        line-height: 22px;
    }
    .about__slider{
        transform: translateX(-50px);
    }
    .about__slider-img img{
        min-height: 400px;
    }
    .about__text-wrapper{
        margin-left: 128px;
        margin-top: 60px;
    }
    .about__top-wrapper{
        flex-direction: column;
        margin-top: 66px;
    }
    .about__slider-wrapper{
        max-width: 810px;
    }
    .about__slider {
        max-width: 810px;
        min-height: 400px;
    }
    .about__slider-img img{
        max-width: 810px;
        min-height: 400px;
        object-fit: cover;
    }
    .about__slider-buttons{
        right: 46px;
    }
    .about__textstat{
        margin-left: 128px;
    }
    
    
}

@media screen and (max-width: 1250px){

    .whatcanwedo__item{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 60px;
    }
    .whatcanwedo__title{
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (max-width: 1100px){
    .aboutus__item-name{
        font-size: 16px;
        line-height: 20px;
    }
    .about__title{
        font-size: 28px;
        line-height: 40px;
    }
    .about__inner .general__top {
        margin-left: 57px;
    }
    .aboutproject__box{
        margin-left: 150px;
        margin-top:90px;
    }
    .aboutproject__item{
        margin-right: 151px;
        margin-bottom: 76px;
    }
}


@media screen and (max-width: 1024px){
    .title__name{
        font-size: 30px;
        line-height: 40px;
    }

 
}
@media screen and (max-width: 1000px){
    .about__inner{
        padding-top: 86px;
    }
    .aboutbanner__text{
        font-size: 16px;
        line-height: 20px;
    }
    .about__inner .general__top {
        margin-left: -15px;
    }
    .about__inner .title__name{
        font-size: 30px;
        line-height: 40px;
    }
    .about__inner .general__category{
        font-size: 16px;
        line-height: 20px;
    }

    .aboutproject__item{
        margin-right: 50px;
    }
}
@media screen and (max-width: 960px){
    .aboutus__inner{
        justify-content: space-around;
    }
    .aboutus__right {
        max-width: 400px;
    }
}

@media screen and (max-width: 930px){
    .whatcanwedo__title{
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 910px){
    .general__top{
        margin-left: 0;
    }
    .about__top-wrapper{
        margin-top: 40px;
    }
    .about__slider{
        min-height: 150px;
    }
    .about__slider-wrapper{
        max-width: 780px;
        min-height: 325px;
    }
    .about__slider{
        max-width: 780px;
        min-height: 325px;
    }
    .about__slider-img{
        max-width: 780px;
        min-height: 325px;
    }
    .about__slider-img img {
        max-width: 780px;
        min-height: 325px;
        object-fit: cover;
        display: block;
    }

    .whatcanwedo__inner{
        flex-direction: column;
    }
    .whatcanwedo__title{
        margin-bottom: 40px;
    }
    .whatcanwedo__right{
        margin: 0 auto;
    }
    .whatcanwedo__item{
        margin-bottom: 40px;
    }


}
@media screen and (max-width: 800px){
    .about__text{
        margin-left: 0;
    }
    .about__text-wrapper{
        margin-left: 0;
    }
    .about__textstat{
        margin-left: 0;
    }
    .about__slider {
        max-width: 780px;
        min-height: 325px;
    }
    .aboutus__inner{
        justify-content: space-between;
    }
    .about__slider-buttons {
        right: 27px;
    }

    .aboutproject .about__title{
        margin-left: 0;
    }
    .aboutproject__box{
        margin: 76px 0 60px 0;
    }
    .aboutproject__item{
        margin-bottom: 52px;
    }
    .aboutbanner__inner{
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 705px){
  

    .aboutbanner__text{
        font-size: 14px;
        line-height: 17px;
    }
    .aboutbanner__inner {
        margin-top: -50px;
    }
    .about__slider{
        transform: translateX(-28px);
    }

    .about__inner{
        padding-top: 60px;
    }
    .about__top-wrapper{
        margin-bottom: 90px;
    }

    .aboutus__inner{
        flex-direction: column;
    }
    .aboutus .about__title{
        margin-bottom: 40px;
    }
    .aboutus__item{
        margin-bottom: 50px;
    }
    .aboutus__item-name{
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 610px){
    .aboutbanner__text{
        margin-left: 0;
    }
    .about__text{
        max-width: 400px;
        width: 100%;
    }
    .about__textstat-item{
        margin-bottom: 15px;
    }
    .about__textstat-num{
        white-space: nowrap;
    }
    .about__textstat{
        flex-wrap: wrap;
    }
    .about__textstat-descr{
        width: auto;
    }
    .about__inner{
        padding-top: 60px;
    }
}

@media screen and (max-width: 450px){
    .about__slider-img {
        min-height: 180px;
    }
    .about__slider {
        min-height: 180px;
    }
    .about__slider-wrapper {
        min-height: 180px;
    }
    .about__slider-img img{
        min-height: 180px;
    }
    .about__text{
        max-width: 312px;
        width: 100%;
    }
    .about__top-wrapper{
        margin-bottom: 70px;
    }
}


@media screen and (max-width: 400px){
    
}