
/* CONTACTS */
.contacts__general-title{
    color: #FFFF33;
}
.contacts__inner {
    margin-top: 61px;
    display: flex;
    margin-bottom: 156px;
}
.contacts__left {
    opacity: .9;
    display: flex;
    flex-direction: column;
    margin-right: 315px;
}
.contacts__title {
    font-size: 36px;
    line-height: 52px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 48px;
    opacity: .9;
}
.contacts__mail {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.06em;
    margin-bottom: 36px;
}
.contacts__phone {
    margin-bottom: 36px;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.1em;
    white-space: nowrap;
}
.contacts__social {
    display: flex;
}
.contacts__social-link {
    margin-right: 61px;
    position: relative;
}
.contacts__social-link::after {
    content: '';
    position: absolute;
    background-image: url(../images/link-arrow.svg);
    width: 13px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    right: -19px;
    top: 5px;
}

.contacts__form{
    display: flex;
    flex-direction: column;
}

.input__wrapper{
    margin-bottom: 30px;
    position: relative;
    max-width: 320px;
    width: 100%;
    height: 70px;
}
.input__wrapper::before{
    content:'';
    position: absolute;
    width: 0px;
    height: 1px;
    background-color: #FFFF33;
    opacity: .7;
    bottom: -1px;
    right: 0;
    left: auto;
    transition: all .3s linear;
    z-index: 5;
} 
.contacts__input {
    height: 100%;
    width: 100%;
    padding: 20px 10px 0 10px;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid #000000;
    color:#fff;
    font-size: 18px;
    line-height: 27px;
    outline: none;
    cursor: pointer; 
    transition: all .3s;
}

.contacts__input:focus{
    border-bottom: 2px solid   var(--main-color);;
    transition: all .3s;
}

.input__wrapper:hover.input__wrapper::before{
    width: 100%;
    left: 0;
    right: auto;
    height: 2px;
}

.input__label{
    position: absolute;
    bottom: 5px;
    left: 0%;   
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all .3s linear;
}

.input__placeholder{
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #999999;
    left: 15px;
    bottom: 0;
    transition: all .5s linear;
}
.contacts__input:focus + .input__label .input__placeholder{
    transform: translateY(-40px) scale(0.8);
    transition: all .3s linear;
}
.contacts__input:valid + .input__label .input__placeholder{
    transform: translateY(-40px) scale(0.8);
    transition: all .3s linear;
}
.contacts__prompt-wrapper {
    margin-top: 50px;
}

.contacts__prompt {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #999999;
    margin-bottom: 30px;
}
.contacts__link-wrapper{
    display: flex;
    margin-bottom: 60px;
}
.contacts__prompt-link {
    margin-right: 64px;
    font-size: 14px;
    line-height: 27px;
    font-weight: 700;
}
.contacts__btn {
    background-color: transparent;
    color:#fff;
    cursor: pointer;
}
.contacts__btn.price__link:hover::before{
    left: 150px;
    transition: .5s;
}


.price__link {
    padding: 22px 60px;
    width: 228px;
    height: 70px;
    position: relative;
    border-radius: 40px;
    background: linear-gradient(#212121, #212121);
    background-clip: padding-box;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button__text{
    position: absolute;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 0.02em;
    z-index: 5;
}
.price__link::before {
    content: '';
    position: absolute;
    width: 54px;
    height: 54px;
    background: rgba(255, 255, 51, 0.5);
    border-radius: 50%;
    left: 58px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    transition: all .5s;
}
.price__link::after{
    content: '';
    position: absolute;
    top: -4px; 
    bottom: -4px;
    left: -4px; 
    right: -4px;
    background: linear-gradient(to right, #FFFF33, #EA8069);
    z-index: -1;
    border-radius: 40px;
}
.price__link:hover{
    background: #212121;
    transition: all .5s;
    outline: none;
    border:none;
}
.price__link:hover::before{
    left: 190px;
    transition: .5s;
}

.price__link:hover::before{
    left: 150px;
    transition: .5s;
}


@media screen and (max-width:1366px){
    .contacts__left{
		margin-right: 170px;
	}
	.contacts__title{
		font-size: 32px;
		line-height: 52px;
	}
}

@media screen and (max-width:1260px){
    .contacts__inner{
        flex-direction: row;
    }
	.contacts__right{
		max-width: 640px;
		width: 100%;
		margin: 0 auto;
	}
	.contacts__left{
		margin-right: 0;
        margin-bottom: 100px;
        margin-right: 90px;
    }
}
@media screen and (max-width: 1200px){
    .contacts__inner{
        flex-direction: column;
    }
}

@media screen and (max-width:750px){
    .contacts__link-wrapper{
		flex-wrap: wrap;
		justify-content: flex-start;
		
	}
	.contact__link-item{
		display: flex;
		justify-content: flex-start;	
	}
	.contacts__prompt-link{
		margin: auto;
		width: 120px;
	}
}

@media screen and (max-width:700px){
	.contacts .title__name{
		font-size: 28px;
		line-height: 40px;
	}
	.contacts__title{
		font-size: 24px; 
		line-height: 36px;
	}
	.contacts__mail,
	.contacts__phone{
		font-size: 24px;
		line-height: 29px;
	}
	.contacts__social-link{
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.1em;
    }
    .contacts__inner {
		margin-bottom: 89px;
    }
    .price__link::before{
        display: block !important;
    }
}

@media screen and (max-width:540px){
    .contacts__social-link {
        margin-right: 37px;
    }
}
