html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color:inherit;
}
p{
    margin: 0;
}
ul,
li {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
input{
    border-radius: 0;
}
body {
	margin: 0;
	background-color:#22272A;
	font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container-fluid{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.container-about{
    max-width: 1920px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container-main{
	max-width: 1640px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */


.general__category {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color:   var(--main-color);;
}
.general__top{
	margin-left: 115px;
}
.title__name {
    margin-top: 10px;
    font-size: 56px;
    line-height: 68px;
    font-family: 'Oswald', sans-serif;
    max-width: 800px;
    width: 100%;
}

/* FOOTER */
.footer{
    background-color: #4B2F95;
}
.footer__menu {
    display: flex;
    padding: 24px 0;
}
.footer__item {
    margin-right: 90px;
}
.footer__link {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    font-family: 'Oswald', sans-serif; 
}

:root {
    --main-color:#FFFF33;	
  }

