html {
    box-sizing: border-box;
}
:root {
	--main-color: #fff333;
	/* #cdff00 */
  }

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color:inherit;
}
p{
    margin: 0;
}
ul,
li {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
input{
    border-radius: 0;
}
body {
	margin: 0;
	background-color:#22272A;
	font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	animation: pageLoad 2s ease both;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



@keyframes pageLoad {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.body__disabled{
	overflow: hidden;
}
.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container-fluid{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.container-about{
    max-width: 1920px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */


.general__category {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color:   var(--main-color);
}
/* .general__top{
	margin-left: 115px;
} */
.title__name {
    margin-top: 10px;
    font-size: 56px;
    line-height: 68px;
    font-family: 'Oswald', sans-serif;
    max-width: 800px;
    width: 100%;
}

label{
	display: block;
}
.check-box{
	position: relative;
	width: 0.01px;
	height: 0.01px;
	top: 0;
	left: 0;
	overflow: hidden;
	padding-bottom: 5px;
	transition: all .3s linear;
	clip:rect(0 0 0 0);
}
.checked-style{
	padding: 10px;
	cursor: pointer;
	position: relative;
}
.checked-style::before{
	content:'';
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: var(--main-color);
	bottom: 0;
	left: -10px;
	transition: all .3s linear;
}
.check-box:checked + .checked-style::before{
	width: 108%;
}


.general__button-wrapper{
	position: relative;
	overflow: visible;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.general__button{
    color: #fff;
	/* box-shadow: 0 30px 50px rgba(0,0,0,1.0); */
	box-shadow: -4px 18px 50px -8px #000000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 40px;
    background-color: transparent;
	border:none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	outline: none;
	transition: all .5s;
}

.general__button:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, 0.005);
}
.general__button:after{
    content:'';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    opacity: .8;
    transition: all .5s;
}
.general__button:hover{
	background-color:#212121;
	color: #fff;
}
.general__button:hover::after{
    width: 100%;
}
.general__button span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	width: 100%;
    background: linear-gradient( to right, var(--main-color), #EA8069);
	animation: animate-top 2s linear infinite;
}

.general__button span:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 2px;
	background: linear-gradient( to bottom, var(--main-color), #EA8069);
	animation: animate-right 2s linear infinite;
	animation-delay: 1s;
}

.general__button span:nth-child(3){
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: linear-gradient( to left, var(--main-color), #EA8069);
	animation: animate-bottom 2s linear infinite;
	
}

.general__button span:nth-child(4){
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 2px;
	background: linear-gradient( to top, var(--main-color), #EA8069);
	animation: animate-left 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate-top{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}

@keyframes animate-right{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}

@keyframes animate-bottom{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}

@keyframes animate-left{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}




@media screen and (max-width:1500px){
	.container{
		padding: 0 80px;
	}
}

@media(max-width: 1366px){
	.title__name {
		font-size: 54px;
		line-height: 70px;
	}

	.main__top1 .title__name{
		max-width: 830px;
		width: 100%;
		font-size: 54px;
		line-height: 70px;
	}
	
	.main__link,
	.main__link-descr{
		font-size: 18px;
		line-height: 24px;
	}
	.main__link-container{
		margin-right: 0;
	}
	.main__link-container + .main__link-container {
		margin-left: 140px;
	}
	.general__button{
		padding: 14px 19px;
		font-size: 10px;
	}

	.main__top2{
		max-width: 635px;
		width: 100%;
		margin: 0;
	}
	.title__name{
		font-size: 42px;
		line-height: 55px;
	}
	.general__category-main{
		font-size: 18px;
		line-height: 22px;
	}
	.main__example-descr{
		font-size: 32px;
		line-height: 45px;
	}
	.main__top-about{
		justify-content: space-around;
	}
	.main__example-descr{
		font-size: 40px;
		line-height: 52px;
	}
	.main__example-item img{
		padding: 0 45px;
	}
	.main__example-descr {
		left: 1px;
		font-size: 36px;
	}
	.contacts__left{
		margin-right: 170px;
	}
	.contacts__title{
		font-size: 32px;
		line-height: 52px;
	}
	
}
@media (max-width:1260px){
	.contacts__inner{
		flex-direction: column;
	}
	.contacts__right{
		max-width: 640px;
		width: 100%;
		margin: 0 auto;
	}
	.contacts__left{
		margin-right: 0;
		margin-bottom: 100px;
	}
	.main__slider-item{
		max-width: 650px;
	}
}
@media (max-width:1045px){
	.main__bottom{
		flex-direction: column;
	}
	.main__links{
		display: none;
	}
	.main__top1{
		margin-bottom: 102px;
		display: flex;
		flex-direction: column;

	}
	.price__link{
		align-self: center;
	}

}

@media (max-width:1000px){
	.main__examples-container{
		flex-direction: column;
		align-items: center;
	}
	.main__example-item{
		margin-bottom: 40px;
	}
	.main__top-about{
		flex-direction: column;
		position: relative;
		padding-bottom: 88px;
	}
	.main__about-link{
		position: absolute;
		bottom: 0;
	}
	.main-about__right{
		margin-top: -22px;
	}
	.main__slider-item{
		max-width: 550px;
	}
	.main__slider-item{
		margin: 0 10px;
	}
	
}

@media (max-width:890px){
	.main__top1 .title__name{
		font-size: 46px;
	}
	.main__link{
		font-size: 16px;
		line-height: 20px;
	}
	.main__link-descr{
		font-size: 16px;
		line-height: 22px;
	}
	.main__inner {
		padding-top: 187px;
	}
	.main__examples {
		margin-bottom: 130px;
	}
}

@media screen and (max-width: 768px)
{
	.main-container {
		margin: 0 16px;
	}

	input, input::placeholder {
		font-size: 14px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}
	.input__placeholder{
		font-size: 16px;
	}
	
}
@media (max-width:750px){

	.contacts__link-wrapper{
		flex-wrap: wrap;
		justify-content: flex-start;
		
	}
	.contact__link-item{
		display: flex;
		justify-content: flex-start;	
	}
	.contacts__prompt-link{
		margin: auto;
		width: 120px;
	}
	.main__slider-item{
		max-width: 450px;
	}

	.container{
        padding: 0 30px;
    }
}
@media (max-width:700px){
	.main__top1 .title__name{
		font-size: 54px;
		line-height: 70px;
	}
	.main__title-wrapper {
		margin-bottom: 44px;
	}
	.main__examples-container{
		align-items: flex-end;
	}
	.main__example-item img{
		padding: 0;
	}
	.main__example-descr{
		left: -50px;
	}
	.main__example-item{
		max-width: 312px;
		width: 100%;
		margin-left: 60px;
	}
	.main__examples-container{
		margin-left: 60px;
	}
	.contacts .title__name{
		font-size: 28px;
		line-height: 40px;
	}
	.contacts__title{
		font-size: 24px;
		line-height: 36px;
	}
	.contacts__mail,
	.contacts__phone{
		font-size: 24px;
		line-height: 29px;
	}
	.contacts__social-link{
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.1em;
	}
	.footer__item{
		margin-right: 60px;
	}
	.footer__link{
		font-size: 16px;
		line-height: 24px;
	}
	.footer__menu{
		flex-wrap: wrap;
	}
	.contacts__inner {
		margin-bottom: 89px;
	}
	.main__slider-item{
		max-width: 350px;
	}
	.main__slider{
		margin: 60px 0 64px;
	}
}	


@media (max-width:570px){
	.main__links-wrapper{
		flex-direction: column;
	}
	.main__link-container + .main__link-container{
		margin-left: 0;
	}
	.main__link-container{
		margin-bottom: 67px;
	}
	.main__inner {
		padding-top: 147px;
	}
	.price__link{
		font-size: 16px;
		line-height: 20px;
		padding: 24px 45px;
	}
	.price__link::before{
		display: none;
	}
	.main__bottom1 {
		margin-bottom: 87px;
	}	

	.main__top .title__name{
		font-size: 36px;
		line-height: 40px;
	}
}

@media (max-width:540px){
	.main__top .title__name{
		font-size: 28px;
		line-height: 40px;
	}
	.general__category-main{
		font-size: 16px;
		line-height: 20px;
	}
	.main__example-descr{
		font-size: 24px;
		line-height: 35px;
		max-width: 148px;
		width: 100%;
	}
	.main__bottom1 {
		margin-bottom: 60px;
	}
	.contacts__social-link {
		margin-right: 37px;
	}
	.main__slider-item{
		max-width: 305px;
	}
	.main__slider-item{
		margin: 0 5px;
	}
	.container{
		padding: 0 15px !important;
	}
}

@media (max-width:420px){
	.main__slider-item{
		max-width: 285px;
	}
	.main__slider-item{
		margin: 0 5px;
	}
}


/* ANIMATION */
/* .title__name{
	opacity: 0;
	transform: translateY(20%);
	transition: all .5s linear;
	transition: opacity .8s linear;
} 
.title__name._active{
	opacity: 1 !important;
	transform: translateY(0%);
	transition: all .5s linear .5s;
} */



  
  
