
.main{
    position: relative;
    z-index: 5;
    margin-bottom: 100px;
}

.container-main {
    position: relative;
    z-index: 90;
}

.main__inner {
    padding-top: 230px;
}

.main__top1 {
    margin-bottom: 130px;
}

.main__top1 .title__name span {
    border-bottom: 2px solid #fff;
}

.title__name {
    text-align: left;

}

.main__title-wrapper {
    margin-bottom: 100px;
}

.general__category-main {
    margin-bottom: 16px;
}

.main__info-link {
    max-width: 300px;
    width: 100% !important;
    height: 70px;
}

.button__text {
    position: absolute;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 0.02em;
    z-index: 5;
}

.main__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__bottom1 {
    margin-bottom: 224px;
}

.main__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__link-item {
    margin-right: 74px;
    transition: all .3s;
}

.main__link-img {
    transition: all .3s;
}

.main__link-item:hover .main__link-img {
    transform: scale(1.3);
}

.main__links-wrapper {
    display: flex;
}

.main__link-container {
    margin-right: 140px;
}

.main__link-container:last-child {
    margin-right: 0;
}

.main__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--main-color);
    ;
    position: relative;
    transition: all .5s;
}

.main__link::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 51, 0.15);
    border-radius: 50%;
    left: -30px;
    bottom: 0;
    z-index: -1;
    transition: all .5s;
}

.main__link:hover::before {
    left: 200px;
    transform: scale(1.2);
    background-color: #fff;
    transition: all .5s;
    opacity: .5;
}

.main__link:hover {
    color: #fff;
    font-size: 21px;
}

.main__link-descr {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    max-width: 235px;
    width: 100%;
    opacity: .6;
    margin-top: 14px;
}









.project__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 0;


}
.project__container {
    width: 50%;
    min-height: 400px;
    overflow: hidden;
    box-shadow: 0 0 200px 305px 400px rgba(255,255,255,0.25);
}
.project__container-inner {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .5s;
    z-index: -5;
    
}
.project__container-inner:after{
    content: '';
    position: absolute;
    opacity: .7;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.project__container-inner1:after{
    background-color: #3CB371;
}
.project__container-inner2:after{
    background-color: #4169E1;
}
.project__container-inner3:after{
    background-color: #fff;
}
.project__container-inner4:after{
    background-color: #FA8072;
}


.project__img {
    max-width: 300px;
    width: 100%;
    height: auto;
    position: absolute;
}
.project__img-mob{
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: all .5s;
}
.project__img-desc{
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 0;
    transform: scale(0.5);
    transition: all .5s;

}
.projects__title {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color:#000;
    font-size: 24px;
    transition: all .3s linear;
}
.projects__title1{
    opacity: 1;
}
.projects__title2{
    opacity: 0;
    bottom: 0px;
}
.project__container-inner4 .projects__title2{
    color: #fff !important;
}

.project__container:hover .project__img-mob{
    transform: translateX(300%);
}
.project__container:hover .project__img-desc{
    opacity: 1;
    transform: scale(1.1);
}
.project__container:hover .project__container-inner{
    background-color: #22272A;
}
.project__container:hover .project__container-inner::after{
    background-color: #22272A;
}
.project__container:hover .projects__title{
    color: #fff;
}

.project__container:hover .projects__title1{
    bottom: 30px;
    opacity: 0;
}


.project__container:hover .projects__title2{
    bottom: 20px;
    color: #fff;
    opacity: 1;
}

.project__container:hover > .project__container-inner4 .projects__title2{
    bottom: 20px;
    color: #000;
    opacity: 1;
}





.mainlink__all-wrapper {
    display: flex;
    justify-content: center;
    transition: all .7s;
}

.mainlink__all {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
}

.mainlink__all::after {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFF33;
    opacity: .5;
    z-index: -1;
    transition: all .7s;
}

.mainlink__all-wrapper:hover {
    transform: scale(1.2);
}

.mainlink__all-wrapper:hover .mainlink__all::after {
    left: 0;
}

.main__top-about {
    display: flex;
    justify-content: space-between;
}

.main-about__left {
    max-width: 513px;
    width: 100%;
}

.title__name-main {
    margin-bottom: 60px;
}

.main__about-link {
    position: relative;
    padding-left: 28px;
    font-weight: 500;
}

.main__about-link::after {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: -20px;
    left: 0;
    background: #FFFF33;
    opacity: 0.5;
    z-index: -1;
    transition: all .5s;
}

.main__about-link:hover::after {
    background-color: #fff;
    opacity: .5;
    left: 125px;
}

.main-about__right {
    max-width: 500px;
    width: 100%;
    opacity: .6;
    margin-top: 53px;
}

.main__slider {
    margin-top: 78px;
    overflow-x: hidden;
    margin-bottom: 60px;
}

.main__slider-item {
    max-width: 776px;
    width: 100%;
    height: 100%;
    margin: 0 20px;
}

.main__slider-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.main-about__img+.main-about__img {
    margin-left: 32px;
    max-width: 776px;
    width: 100%;
    object-fit: cover;
}

.statistic {
    margin-bottom: 142px;
}

.statistic__inner {
    margin-bottom: 140px;
}

.statistic__row-top {
    display: flex;
    align-items: flex-start;
}

.statistic__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 40px;
}

.statistic__number-wrapper {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistic__number-small {
    width: 120px;
}
.statistic__number-first{
    width: 250px;
}
.statistic__number-big {
    max-width: 350px;
}

.statistic__descr {
    max-width: 140px;
}

.statistic__number-wrapper span {
    font-weight: 500;
    font-size: 90px;
    line-height: 100px;
    text-transform: uppercase;
    background: linear-gradient(to right, #FFFF33, #EA8069);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    color: #212121;
}

.statistic__number {
    font-weight: 500;
    font-size: 144px;
    line-height: 176px;
    text-transform: uppercase;
    background: linear-gradient(to right, #FFFF33, #EA8069);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    color: #212121;
}

.statistic__descr {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: var(--main-color);
    max-width: 204px;
    width: 100%;
}

.statistic__descr-small {
    width: 204px;
}

.statistic__descr-last {
    max-width: 120px;
    width: 100%;
}

.statistic__descr-it {
    max-width: 154px;
    width: 100%;
}

.statistic__row-bottom {
    display: flex;
    justify-content: flex-end;
}

/* CONTACTS */
.contacts__general-title {
    color: #FFFF33;
}

.contacts__inner {
    margin-top: 61px;
    display: flex;
    margin-bottom: 156px;
}

.contacts__left {
    opacity: .9;
    display: flex;
    flex-direction: column;
    margin-right: 315px;
}

.contacts__title {
    font-size: 36px;
    line-height: 52px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 48px;
    opacity: .9;
}

.contacts__mail {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.06em;
    margin-bottom: 36px;
}

.contacts__phone {
    margin-bottom: 36px;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.1em;
}

.contacts__social {
    display: flex;
}

.contacts__social-link {
    margin-right: 61px;
    transition: all .5s;
    position: relative;
}

.contacts__social-link::after {
    content: '';
    position: absolute;
    background-image: url(../images/link-arrow.svg);
    width: 13px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    right: -19px;
    top: 5px;
    transition: all .5s;
}

.contacts__social-link:hover::after {
    top: -7px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
}

.input__wrapper {
    margin-bottom: 30px;
    position: relative;
    max-width: 320px;
    width: 100%;
    height: 70px;
}

.input__wrapper::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 1px;
    background-color: #FFFF33;
    opacity: .7;
    bottom: -1px;
    right: 0;
    left: auto;
    transition: all .3s linear;
    z-index: 5;
}

.contacts__input {
    height: 100%;
    width: 100%;
    padding: 20px 10px 0 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

.contacts__input:focus {
    border-bottom: 2px solid var(--main-color);
    ;
    transition: all .3s;
}

.input__wrapper:hover.input__wrapper::before {
    width: 100%;
    left: 0;
    right: auto;
    height: 2px;
}

.input__label {
    position: absolute;
    bottom: 5px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all .3s linear;
}

.input__placeholder {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #999999;
    left: 15px;
    bottom: 0;
    transition: all .5s linear;
}

.contacts__input:focus+.input__label .input__placeholder {
    transform: translateY(-40px) scale(0.8);
    transition: all .3s linear;
}

.contacts__input:valid+.input__label .input__placeholder {
    transform: translateY(-40px) scale(0.8);
    transition: all .3s linear;
}

.contacts__prompt-wrapper {
    margin-top: 50px;
}

.contacts__prompt {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #999999;
    margin-bottom: 30px;
}

.contacts__link-wrapper {
    display: flex;
    margin-bottom: 60px;
}

.contacts__prompt-link {
    margin-right: 64px;
    font-size: 14px;
    line-height: 27px;
    font-weight: 700;
}



  
 
  .main__animated-wrapper{
      margin-top: 50px;
  }
  .main__name {
    font-size: 70px;
    color: white;
    margin: 0;
    animation: fadeOut 3s ease both;
    position: absolute;
  }
  .main__animated-title {
    text-align: center;
  }
  .main__title-item1,
  .main__title-item2,
  .main__title-item3,
  .contact-link {
    font-size: 70px;
    line-height: 71px;
    /* color: black;
    -webkit-text-stroke: 1px white;
    margin: 0;
    height: 90px; */
    transition: 0.3s;
    text-align: left;


    /* color: #fefefe;
    text-shadow: #e7e7e7 3px 1px 0,
                 #999 4px 6px 3px,
                 #ccc 8px 11px 10px; */


    
  background: #fff;
  color: transparent;
  text-shadow: 0px 1px 15px rgba(59, 51, 51, 0.95);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  }

  


  .main__title-item1:hover,
  .main__title-item2:hover,
  .main__title-item3:hover {
    color: white;
  }
  
  .main__title-item1 {
    animation: fadeInFirst 1s ease both;
    animation-delay: 2.5s;
  }
  .main__title-item2 {
    animation: fadeInSecond 1.5s ease both;
    animation-delay: 2.5s;
  }
  .main__title-item3 {
    animation: fadeInThird 1.5s ease both;
    animation-delay: 2.5s;
  }

  @keyframes pageLoad {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    90% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
      display: none;
    }
  }
  
  @keyframes fadeInFirst {
    0% {
      opacity: 0;
      display: none;
      transform: scale(0);
    }
    40% {
      opacity: 0;
      transform: translate(0, 200%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  @keyframes fadeInSecond {
    0% {
      opacity: 0;
      display: none;
      transform: scale(0);
    }
    40% {
      opacity: 0;
      transform: translate(0, 150%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @keyframes fadeInThird {
    0% {
      opacity: 0;
      display: none;
      transform: scale(0);
    }
    40% {
      opacity: 0;
      transform: translate(0, -150%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  


@media(max-width: 1366px) {
    .title__name {
        font-size: 54px;
        line-height: 70px;
    }

    .main__top1 {
        max-width: 871px;
        width: 100%;
        margin: 0;
        margin-bottom: 75px;
    }

    .main__top1 .title__name {
        max-width: 830px;
        width: 100%;
        font-size: 54px;
        line-height: 70px;
    }

    .main__link,
    .main__link-descr {
        font-size: 18px;
        line-height: 24px;
    }

    .main__link-container {
        margin-right: 0;
    }

    .main__link-container+.main__link-container {
        margin-left: 140px;
    }

    .main__top2 {
        max-width: 635px;
        width: 100%;
        margin: 0;
    }

    .title__name {
        font-size: 42px;
        line-height: 55px;
    }

    .general__category-main {
        font-size: 18px;
        line-height: 22px;
    }
    .main__top-about {
        justify-content: space-around;
    }

    .statistic__descr {
        font-size: 20px;
        line-height: 26px;
    }

    .statistic__number {
        font-size: 110px;
        line-height: 120px;
    }

    .statistic__descr {
        font-size: 20px;
        line-height: 26px;
    }

    .statistic__number {
        font-size: 110px;
        line-height: 120px;
    }

    .statistic__item {
        margin-bottom: 30px;
        margin-right: 15px;
    }



}

@media (max-width:1250px) {
    .statistic__item {
        margin-right: 10px;
        justify-content: flex-start;
    }

    .statistic__row-top {
        flex-direction: column;
    }

    .statistic__row-bottom {
        flex-direction: column;
    }

    .statistic__row-bottom .statistic__item {
        justify-content: flex-start;
    }

    .statistic__inner {
        display: flex;
        justify-content: space-around;
    }

    .statistic__number {
        font-size: 90px;
        line-height: 110px;
    }

    .statistic__descr {
        font-size: 18px;
        line-height: 24px;
        max-width: 204px;
        width: 100%;
    }

    .statistic__number-wrapper span {
        font-size: 60px;
    }

    .statistic__number-big {
        width: 330px;
    }

    .statistic__number-wrapper {
        width: 230px;
    }
    .statistic__number-first {
        width: 197px;
    }
}


@media (max-width:1045px) {
    .main__bottom {
        flex-direction: column;
    }

    .main__links {
        display: none;
    }

    .main__top1 {
        margin-bottom: 102px;
        display: flex;
        flex-direction: column;

    }

    .statistic__inner {
        display: flex;
    }

    .statistic__row-bottom {
        justify-content: flex-start;
    }

    .statistic__row-top {
        flex-wrap: wrap;
    }

    .statistic__row-bottom {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

}

@media screen and (max-width:1000px) {

    .main__top-about {
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 88px;
    }

    .main__about-link {
        position: absolute;
        bottom: 0;
    }

    .main-about__right {
        margin-top: -22px;
    }

    .main__bottom1 {
        margin-bottom: 136px;
    }


    .project__container{
        width: 100%;
    }

}

@media screen and (max-width:890px) {
    .main__top1 .title__name {
        font-size: 46px;
    }

    .main__link {
        font-size: 16px;
        line-height: 20px;
    }

    .main__link-descr {
        font-size: 16px;
        line-height: 22px;
    }

    .main__inner {
        padding-top: 187px;
    }

    .statistic__descr {
        font-size: 18px;
        line-height: 24px;
    }

    .statistic__number {
        font-size: 90px;
        line-height: 110px;
    }

    .container-main {
        position: relative;
        z-index: 1;
    }

    .statistic__number {
        font-size: 74px;
        line-height: 83px;
    }
    .statistic__number-first {
        width: 197px;
    }
    .statistic__descr {
        font-size: 14px;
        line-height: 15px;
        max-width: 150px;
    }

    .main__inner{
        padding-top: 88px;
    }
}


@media screen and (max-width: 768px) {
    .main-container {
        margin: 0 16px;
    }

    input,
    input::placeholder {
        font-size: 14px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .input__placeholder {
        font-size: 16px;
    }





    
}


@media screen and (max-width:750px) {
    .statistic__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .statistic__row-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .statistic__row-bottom {
        flex-direction: column;
    }

    .statistic__number-wrapper {
        display: flex;
        justify-content: flex-start;
        width: 245px;
    }

    .statistic__item {
        align-items: center;
    }

    .statistic__number {
        font-size: 70px;
        width: 245px;
    }

    .statistic__number-big {
        width: 247px;
    }



}

@media screen and (max-width:700px) {

    .main__title-wrapper {
        margin-bottom: 44px;
    }
    .project__img{
        max-width: 200px;
        height: auto;
    }
    .project__img img{
        max-width: 200px;
        height: auto;
        object-fit: contain;
    }
    .project__container{
        min-height: 300px;
    }
    .projects__title {
        font-size: 18px;
        right: auto;
        left: auto;
        bottom: 15px;
    }
}


@media screen and (max-width:570px) {
    .main__links-wrapper {
        flex-direction: column;
    }

    .main__link-container+.main__link-container {
        margin-left: 0;
    }

    .main__link-container {
        margin-bottom: 67px;
    }
    .main__bottom1 {
        margin-bottom: 87px;
    }

    .statistic__inner {
        margin-bottom: -56px;
    }

    .main__top .title__name {
        font-size: 36px;
        line-height: 40px;
    }

    .statistic__inner {
        margin-bottom: -56px;
    }
}

@media screen and (max-width:540px) {
    .main__top .title__name {
        font-size: 28px;
        line-height: 40px;
    }

    .general__category-main {
        font-size: 16px;
        line-height: 20px;
    }


    .main__bottom1 {
        margin-bottom: 60px;
    }

    .statistic__item {
        flex-direction: column;
        justify-content: flex-start;
    }

    .statistic__row-bottom .statistic__item {
        align-items: flex-start;
    }

    .statistic__row-top {
        justify-content: center;
        align-items: center;
    }

    .statistic__row-bottom {
        justify-content: center;
        align-items: center;
    }



    .statistic__row-bottom .statistic__descr{
        margin-left: 50px;
    }

}

/* .text {
    border-bottom: none !important;
}

 */





