.info__inner {
    margin-top: 100px;
    margin-bottom: 109px;
}
.info__title {
    font-size: 60px;
    line-height: 68px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
}
.info__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase; 
    color: #6E7191;
    margin-bottom: 25px;
}
.info__link {
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #6E7191;
    position: relative;
}
.info__link::after{
    content:'';
    position: absolute;
    background-image: url(../images/link-arrow__purple.svg);
    width: 13px;
    height: 12px;
    background-size: contain;
    right: -19px;
    top: 5px;
}

.info__banner {
    max-width: 1920px;
    width: 100%;
    margin-bottom: 100px;
}
.info__banner{
    width: 100%;
    object-fit: cover;
}

.infotask {
    display: flex;
    justify-content: space-around;
    margin-bottom: 111px;
}
.infotask__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7437FF;
}
.infotask__text {
    max-width: 600px;
    width: 100%;
}
.infotask__images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 118px;
}
.infotask__img {
    max-width: 400px;
    width: 100%;
}
.infotask__img img{
    width: 100%;
    object-fit: cover;
}
.info__links {
    margin-bottom: 164px;
}
.goback {
    color: #6434D4;
    padding-left: 54px;
    position: relative;
    z-index: 5;
}
.goback::before{
    content:'';
    position: absolute;
    width: 30px;
    height: 12px;
    background-image: url(../images/arrow-left.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.website__link-wrapper{
    display: flex;
    justify-content: center;
    transform: translateY(-20px);
}
.website__link {
    justify-self: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
}
.website__link::before{
    content:'';
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: rgba(116, 55, 255, 0.5);
    border-radius: 50%;
    left: -30px;
    top: -17px;
}
.website__link::after{
    content:'';
    position: absolute;
    background-image: url(../images/link-arrow.svg);
    width: 13px;
    height: 12px;
    background-size: contain;
    right: -19px;
    top: 5px;
}
