.container-last{
    padding-top: 88px;
    max-width: 1105px;
    width: 100%;
    margin: 0 auto;
}
.lastprojects__inner {
    max-width: 1102px;
    width: 100%;
    margin: 0 auto;
}
.lastprojects__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
}
.lastprojects__top .title__name{
    max-width: 430px;
    width: 100%;
    text-align: right;
}
.lastprojects-title__name{
    max-width: 437px;
    width: 100%;
}
.title__name {
    max-width: 437px;
}
.lastprojects__container {
    margin-bottom: 200px;
    margin-top: 100px;
}
.lastprojects__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.lastprojects__left {
    display: flex;
    flex-direction: column;
    margin-top: 95px;
}
.lastprojects__title {
    font-size: 36px;
    line-height: 53px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 14px;
}
.lastprojects__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #6E7191;
}
.lastprojects__link-wrapper{
    margin-top: auto;
}
.lastprojects__link {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;
    padding-left: 25px;
    white-space: nowrap;
}
.lastprojects__link::before{
    content:'';
    position: absolute;
    width: 31px;
    height: 2px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFF33;
    transition: all .3s linear;
}
.lastprojects__link:hover::before{
    width: 110%;
}
.lastprojects__right {
    position: relative;
    max-width: 600px;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.lastprojects__img{
    position: absolute;
    bottom: 0px;
    object-fit: contain;
    display: block;
}
.lastprojects__img-mob{
    opacity: 0;
    transition: all .5s;
}
.lastprojects__img-desc{
    opacity: 1;
    max-width: 530px;
    transition: all .5s;
}
.lastprojects__right:hover .lastprojects__img-mob{
    max-width: 350px;
    opacity: 1;
}
.lastprojects__right:hover .lastprojects__img-desc{
    opacity: 0;
}
.lastprojects__img-wrapper{
    max-width: 550px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastprojects__img-phone{
    max-width: 291px;
}
.lastprojects__img-wrapper img{
    object-fit: contain;
    display: block;
    width: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.lastprojects__right::before{
    content:'';
    position: absolute;
    width: inherit;
    max-height: 300px;
    height: 100%;
    background-color: #383D3F;
    z-index: -1;
    right: 0;
    bottom: 0;

}











@media (max-width:1366px){
    .title__name{
        font-size: 54px;
        line-height: 64px;
    }
    .general__category{
        font-size: 18px;
        line-height: 22px;
    }
    .lastprojects__title{
        font-size: 32px;
        line-height: 47px;
    }
    .lastprojects__subtitle{
        font-size: 18px;
        line-height: 22px;
    }
    .lastprojects__link{
        font-size: 16px;
        line-height: 20px;
    }
    .lastprojects__left{
        margin-right: 200px;
        margin-top: 25px;
    }
}

@media (max-width:1050px){
    .lastprojects__left{
        margin-right: 50px;
        margin-top: 0;
    }
    .lastprojects__right{
        max-width: 400px;
        min-height: 200px;
    }
    .lastprojects__img-phone{
        max-width: 200px;
    }
    .lastprojects__right:hover .lastprojects__img-mob{
        max-width: 300px;
        bottom: -40px;
    }
}

@media (max-width:890px){
    .lastprojects__top .title__name{
        font-size: 36px;
        line-height: 40px;
    }
    .general__category{
        font-size: 16px;
        line-height: 20px;
    }
    .lastprojects__title{
        font-size: 24px;
        line-height: 35px;
    }
    .lastprojects__subtitle{
        font-size: 16px;
        line-height: 22px;
    }
    .lastprojects__item{
        flex-direction: column;
    }
    .lastprojects__right{
        align-self: center;
        margin-top: 78px;
    }
    .lastprojects__left{
        margin-right: 0;
        margin-bottom: 50px;
        margin-top: 15px;
    }
    .lastprojects__link {
        margin-top: 34px;
    }
    .lastprojects__container{
        margin-top: 0;
    }
}


@media (max-width:850px){
    .lastprojects__top .title__name{
        font-size: 30px;
        line-height: 40px;
    }
    .general__category{
        font-size: 16px;
        line-height: 20px;
    }
    .lastprojects__title{
        font-size: 24px;
        line-height: 35px;
    }
    .lastprojects__subtitle{
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width:460px){
    .lastprojects__top{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 60px;
    }
    .lastprojects__top .title__name{
        display: flex;
        justify-content: flex-start;
    }
    .lastprojects__left{
        margin-top: 0;
        margin-bottom: 35px;
    }
    .lastprojects__item{
        margin-bottom: 78px;
    }
    .lastprojects__right{
        min-height: 156px;
    }
    .lastprojects__img-wrapper{
        max-width: 275px;
    }
    .lastprojects__img-phone{
        max-width: 151px;
    }
    .lastprojects__right:hover .lastprojects__img-mob{
        max-width: 250px;
    }
}
@media (max-width:380px){
    .lastprojects__left{
        margin-bottom: 0;
    }
}
