.services__inner {
    padding-top: 124px;
    margin-bottom: 0px;
}

.services__container {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    max-width: 350px;
    width: 100%;
    margin-bottom: 180px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
}

.services__num {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 52px;
}

.services__title {
    font-size: 36px;
    line-height: 53px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 40px;
}

.services__text {
    font-size: 16px;
    line-height: 27px;
    max-width: 275px;
    width: 100%;
    margin-bottom: 20px;
}

.services__price {
    font-size: 32px;
    line-height: 47px;
    font-family: 'Oswald', sans-serif;
    color: var(--main-color);
    margin-top: auto;
}



@media screen and (max-width: 1300px) {
    .services__inner .title__name {
        font-size: 54px;
        line-height: 64px;
    }

    .services__inner .general__category {
        font-size: 18px;
        line-height: 22px;
    }

}

@media screen and (max-width: 1150px) {
    .services__inner .title__name {
        font-size: 30px;
        line-height: 40px;
        max-width: 460px;
    }

    .services__inner .general__category {
        font-size: 16px;
        line-height: 20px;
    }

    .services__container {
        margin-top: 80px;
    }

    .services__title {
        font-size: 28px;
    }

    .services__num {
        margin-bottom: 22px;
    }

    .services__container {
        justify-content: space-around;
    }
}

@media screen and (max-width: 780px) {
    .services__inner .general__top {
        margin-left: 0;
    }
}

@media screen and (max-width: 730px) {
    .services__container {
        display: flex;
        justify-content: flex-start;
    }
    .services__item {
        margin-bottom: 100px;
    }
}